@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

svg.leaflet-attribution-flag {
  display: none !important;
}

.custom-popup {
    color: #333;
  }
  
  .custom-popup h4 {
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 4px;
  }
  
  .custom-popup p {
    margin: 0;
    padding: 1px 0;
  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #403f44;
    color: #fff;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.custom-popup{
    color: #fff;
    font-size: 11px;
}

